<section class="d-flex flex-column">
  <div class="col-12 my-2">
    <p-iconfield iconPosition="left" class="ml-auto">
      <p-inputicon>
        <mat-icon style="margin-top: -2px">search</mat-icon>
      </p-inputicon>
      <input
        style="width: 98%"
        pInputText
        type="text"
        [(ngModel)]="globalSearchValue"
        (ngModelChange)="filterContact()"
        placeholder="Enter name or number"
      />
    </p-iconfield>
  </div>
  <div style="min-height: 65vh">
    <div class="call-info-list" [style]="'height: 67vh; overflow-y: auto'">
      <ng-container
        *ngIf="roomCallList && roomCallList.length > 0; else loading"
      >
        <div *ngFor="let call of roomCallList; let i = index">
          <div class="d-flex justify-content-between my-2">
            <div class="d-flex justify-content-between">
              <div class="align-self-center">
                <span class="i-circle">{{
                  call.guestName || call.roomName | slice : 0 : 1
                }}</span>
              </div>
              <div class="d-flex flex-column">
                <div class="d-flex call-text">
                  <div>&nbsp;{{ call.guestName }}</div>

                  <div class="d-flex vip-icon" *ngIf="call.type">
                    <mat-icon
                      fontSet="material-symbols-outlined"
                      style="transform: scale(0.6)"
                      >{{ getIcon("VIP") }}</mat-icon
                    ><span class="align-self-center">{{ call.type }}</span>
                  </div>
                </div>
                <div class="d-flex flex-row">
                  &nbsp;<span class="sub-call-text"
                    >{{ call.propertyName }} - {{ call.roomName }}</span
                  >
                </div>
                <div class="sub-call-text">&nbsp;{{ call?.phone }}</div>
              </div>
            </div>
            <div *ngIf="call?.inHouseGuest">
              <!-- <button mat-icon-button (click)="openChatBox(call)">
                <mat-icon>chat_bubble_outline</mat-icon>
              </button> -->
              <button mat-icon-button (click)="openActiveCall(call?.phone)">
                <mat-icon>phone_outline</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #loading>
        <div class="data-loader">
          <mat-spinner diameter="40" *ngIf="!roomCallList"></mat-spinner>
          <div *ngIf="roomCallList && roomCallList.length === 0">
            No results found.
          </div>
        </div>
      </ng-template>
    </div>
    <app-dial-pad *ngIf="isOpenDialPad"></app-dial-pad>
  </div>

  <div
    class="floating-buttons d-xs-block d-sm-block d-md-none d-lg-none d-xl-none d-xxl-none"
  >
    <button
      mat-icon-button
      class="floating-bottom m-2"
      (click)="openDialpadByRoute()"
    >
      <mat-icon>dialpad</mat-icon>
    </button>
  </div>
  <div
    class="floating-buttons d-none d-md-block d-lg-block d-xl-block d-xxl-block"
  >
    <button
      mat-icon-button
      class="floating-bottom m-2"
      (click)="openDialpadByRoute()"
    >
      <mat-icon>dialpad</mat-icon>
    </button>
  </div>
</section>
